<div class="u-flex">
  <h4 class="text__small text__uppercase">min</h4>
  <h4 class="text__small text__uppercase">max</h4>
</div>
<div class="u-flex">
  <h2 class="text__med-1">
    {{ tempMin }}<span>{{ tempFormat.celcius }}</span>
  </h2>
  <h2 class="text__med-1">
    {{ tempMax }}<span>{{ tempFormat.celcius }}</span>
  </h2>
</div>
<div class="u-flex">
  <h4 class="text__small text__uppercase text__underline active">Today</h4>
  <h4 class="text__small text__uppercase text__underline">7 Days</h4>
</div>
